body
{
background-color: darkgrey;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin: 0%;
}
h6
{
    margin-top: 0.5%;
}
nav
{
    margin-top: 3%;
    margin-left: 6.8%;
    margin-bottom: 3%;
    margin-right: 6.4%;
}
div
{
    background-color: rgb(215, 209, 209);
}
.menu
{
    text-decoration: none;
}
.listmenuu
{
    list-style-position: center;
    list-style: none;
    color:black;
    display: inline;
    padding-left: 6%;
    padding-top: 2%;
    padding-right: 5%;
    padding-bottom: 2%;
    border: solid;
    background-color: rgb(215, 209, 209);
    font-size: larger; 
    margin-left: .5%;
}
.listmenuu:hover
{
    background-color: rgb(0, 0, 0);
    color: white;
    border-color: red;
}
#def-html
{
    border: solid;
}
#tag-titulos
{
    border: solid;
    width: 200px;
}
#def-tags
{
    border: solid;
    width: 490px;
}
#tag-texto
{
    width: 550px;
    border: solid;
}
#definicao_html
{
    background-color: rgb(215, 209, 209);
    padding-left: 3.5%;
    padding-right: 3.5%;
    padding-top: 1%;
    padding-bottom: 2.5%;
    border: solid;
    margin-top: 0%;
    margin-right: 9.7%;
    margin-bottom: 5%;
    margin-left: 10.3%;
}
#definicao_TAGS
{
    background-color: rgb(215, 209, 209);
    padding-left: 3.5%;
    padding-right: 3.5%;
    padding-top: 1%;
    padding-bottom: 2.5%;
    border: solid;
    margin-top: 0%;
    margin-right: 9.7%;
    margin-bottom: 5%;
    margin-left: 10.3%;
}
#html-css
{
    background-color: rgb(215, 209, 209);
    padding-left: 3.5%;
    padding-right: 3.5%;
    padding-top: 1%;
    padding-bottom: 2.5%;
    border: solid;
    margin-top: 0%;
    margin-right: 9.7%;
    margin-bottom: 5%;
    margin-left: 10.3%;
}
#css
{
    background-color: rgb(215, 209, 209);
    padding-left: 3.5%;
    padding-right: 3.5%;
    padding-top: 1%;
    padding-bottom: 2.5%;
    border: solid;
    margin-top: 0%;
    margin-right: 9.7%;
    margin-bottom: 5%;
    margin-left: 10.3%;
}
#referencias
{
    background-color: rgb(215, 209, 209);
    padding-left: 3.5%;
    padding-right: 3.5%;
    padding-top: 1%;
    padding-bottom: 2.5%;
    border: solid;
    margin-top: 0%;
    margin-right: 9.7%;
    margin-bottom: 5%;
    margin-left: 10.3%;
}
